*
{
    margin: 0;
    padding: 0;
    
}
.containerMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.containerhighttext {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    width: 100%;
    height: auto;
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 0px 0px;
    color: white;
}
.containerlogo
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000000;
    
}
.btnimg
{
    display: flex;
    align-items: center;
    margin: 0px 50px;
    
}
.btnimg img
{
width: 24px;
height: 24px;


}
.containernav
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.containernav nav ul
{
    list-style: none;
}
.containernav nav ul li
{
    display: inline-block;
    margin: 0px 10px;
}
.containernav nav ul li a
{
font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;
text-decoration: none;
color: #000000;
}
.carousel-item img {
    height: 750px;       
    object-fit: cover;   
    width: 100%;
}
.containerhighttext p {
    margin: 0;
}
.arrivalscont
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    
}
.arrivalscont h2
{
font-family: 'Courier New';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;
color: #000000;
text-align: center;
}
.products-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.product-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.product-card img
{
    width: 200px;
    height: 200px;
}
.product-card h3
{


font-family: 'Courier New';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;


}
.product-card p
{

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;

color: #000000;


}

