*
{
    margin: 0;
    padding: 0;
    
}
.containerMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.containerhighttext {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    width: 100%;
    height: auto;
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
    color: white;
    position: relative; 
    align-items: center; 
}
.contbuttons
{
    display: flex;
    
}
.contbuttons1
{
    margin-left: 100px;
width: 80px;
height: 26px;
border-radius: 3px 0 0 0px;
border: none;
font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: #000000;
}
.contbuttons2
{

width: 80px;
height: 26px;
border-radius: 0px 3px 0 0px;
border: none;
font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 12px;
color: #000000;
}
.containerlogo
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #000000;
    
}
.btnimg
{
    display: flex;
    align-items: center;
    margin: 0px 50px;
    
}
.btnimg img
{
width: 24px;
height: 24px;
margin: 0px 10px;

}
.containernav
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
}
.containernav nav ul
{
    list-style: none;
}
.containernav nav ul li
{
    display: inline-block;
    margin: 0px 10px;
}
.containernav nav ul li a
{
font-family: 'Cormorant';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 31px;
text-decoration: none;
color: #000000;
}
.carousel-item img {
    height: 750px;       
    object-fit: cover;   
    width: 100%;
}
.containerhighttext p {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.arrivalscont
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    
}
.arrivalscont h2
{
font-family: 'Courier New';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 41px;
color: #000000;
text-align: center;
}
.products-grid
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.product-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
}
.product-card img
{
    width: 200px;
    height: 200px;
}
.product-card h3
{


font-family: 'Courier New';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
color: #000000;


}
.product-card p
{

font-family: 'Courier New';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;

color: #000000;


}

.containerfooter
{
    width: 100%;
    height: auto; 
    padding: 20px 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-top: 1px solid #000000;
    margin-top: 50px;
    box-sizing: border-box;
}

.containernav
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0px 21px;
}
.containernav ul
{
    list-style: none;
    font-family: 'Varela Round';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #343232;
align-items: center;

}
.containernav ul li
{
    
    margin: 0px 10px;
}
.containernav ul li a
{
font-family: 'Varela Round';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;
color: #343232;
text-decoration: none;
}
.containercopyright
{
    
font-family: 'Volkhov', serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #343232;
    
}
.containercopyright p {
    margin: 0; 
}
.containersocial
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 21px;
}
.containersocial a {
    display: flex; 
    text-decoration: none;
}
.containersocial img
{
    width: 24px;
    height: 24px;
}






