* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerhighttext {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    width: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
    color: white;
    position: relative; 
    align-items: center; 
}

.containerhighttext p {
    margin: 0;
}

.containernav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containernav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 10px 0;
}

.containernav ul li {
    margin: 0;
    padding: 0;
}

.containernav ul li a {
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 31px;
    text-decoration: none;
    color: #000000;
}

.containerlogo {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #000000;
    padding: 10px 0;
}

.btnimg {
    display: flex;
    align-items: center;
    margin: 0px 50px;
}

.btnimg img {
    width: 24px;
    height: 24px;
    display: block;
}

.carousel-item img {
    height: 750px;
    object-fit: cover;
    width: 100%;
}

.arrivalscont {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.arrivalscont h2 {
    font-family: 'Courier New';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 41px;
    color: #000000;
    text-align: center;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.product-card img {
    width: 200px;
    height: 200px;
}

.product-card h3 {
    margin-top: 10px;
}

@media (max-width: 900px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .btnimg {
        margin: 0px 15px;
    }

    .containernav ul {
        gap: 18px;
    }

    .containernav ul li a {
        font-size: 20px;
        line-height: 24px;
    }
}

.containerfooter
{
    width: 100%;
    height: auto; 
    padding: 20px 0; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    border-top: 1px solid #000000;
    margin-top: 50px;
    box-sizing: border-box;
}

.containernav
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 0px 21px;
}
.containernav ul
{
    list-style: none;
    font-family: 'Varela Round';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #343232;
align-items: center;

}
.containernav ul li
{
    
    margin: 0px 10px;
}
.containernav ul li a
{
font-family: 'Varela Round';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;
color: #343232;
text-decoration: none;
}
.containercopyright
{
    
font-family: 'Volkhov', serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #343232;
    
}
.containercopyright p {
    margin: 0; 
}
.containersocial
{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px 21px;
}
.containersocial a {
    display: flex; 
    text-decoration: none;
}
.containersocial img
{
    width: 24px;
    height: 24px;
}




    .containerlogo {
        justify-content: space-between;
        padding: 10px 15px;
    }

    .btnimg {
        margin: 0;
    }

    .containernav ul {
        gap: 14px;
        padding: 8px 0;
    }
}
