* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #111;
    background: #fff;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 15px 0;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-family: cormorant;
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 60px;
}

.gallery {
    text-align: center;
}

.main-img {
    width: 70%;
    margin-bottom: 30px;
}

.thumbs {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.thumbs img {
    width: 70px;
    cursor: pointer;
    border: 1px solid #ddd;
}

.info h1 {
    margin-bottom: 10px;
    font-weight: 50;
    font-family: 'Courier New', Courier, monospace;
}

.price {
    font-size: 28px;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.sizes {
    display: flex;
    flex-direction: column;
    width: 13%;
}

.sizes button {
    padding: 15px;
    border: 1px solid #ccc;
    background: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.sizes button:hover
{
    background-color: #000;
    color: #ccc;
}

.buy {
    margin: 30px 0;
    padding: 15px;
    width: 20%;
    background: #222;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
    font-size: 13px;
}

.tabs span {
    cursor: pointer;
    color: #777;
}

.tabs .active {
    color: #000;
    font-weight: bold;
}

.description {
    font-size: 14px;
    line-height: 1.6;
    max-width: 400px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}